name: PR Checks
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    
permissions:
  contents: read       # Required for actions/checkout
  id-token: write      # Required for requesting the JWT
  pull-requests: write # Required to write comments

jobs:
  build_and_publish:
    name: Build & Publish
    uses: ./.github/workflows/ehr-repo-build-and-publish.yml
    with:
      environment: dev
      is_deployment: ${{ github.ref == 'refs/heads/main' }}
      skip_build_and_publish: false
      enable_end_to_end: true
    secrets: inherit